$base   = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

@font-face {
    font-family: 'Integral CF Demi';
    src: url('../fonts/subset-IntegralCF-DemiBold.eot');
    src: url('../fonts/subset-IntegralCF-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-IntegralCF-DemiBold.woff2') format('woff2'),
        url('../fonts/subset-IntegralCF-DemiBold.woff') format('woff'),
        url('../fonts/subset-IntegralCF-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Integral CF Demi';
    src: url('../fonts/subset-IntegralCF-DemiBoldOblique.eot');
    src: url('../fonts/subset-IntegralCF-DemiBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-IntegralCF-DemiBoldOblique.woff2') format('woff2'),
        url('../fonts/subset-IntegralCF-DemiBoldOblique.woff') format('woff'),
        url('../fonts/subset-IntegralCF-DemiBoldOblique.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Integral CF';
    src: url('../fonts/subset-IntegralCF-RegularOblique.eot');
    src: url('../fonts/subset-IntegralCF-RegularOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-IntegralCF-RegularOblique.woff2') format('woff2'),
        url('../fonts/subset-IntegralCF-RegularOblique.woff') format('woff'),
        url('../fonts/subset-IntegralCF-RegularOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Integral CF';
    src: url('../fonts/subset-IntegralCF-Regular.eot');
    src: url('../fonts/subset-IntegralCF-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-IntegralCF-Regular.woff2') format('woff2'),
        url('../fonts/subset-IntegralCF-Regular.woff') format('woff'),
        url('../fonts/subset-IntegralCF-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AkkuratStd';
    src: url('../fonts/subset-AkkuratStd.eot');
    src: url('../fonts/subset-AkkuratStd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-AkkuratStd.woff2') format('woff2'),
        url('../fonts/subset-AkkuratStd.woff') format('woff'),
        url('../fonts/subset-AkkuratStd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AkkuratStd';
    src: url('../fonts/subset-AkkuratStd-Italic.eot');
    src: url('../fonts/subset-AkkuratStd-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-AkkuratStd-Italic.woff2') format('woff2'),
        url('../fonts/subset-AkkuratStd-Italic.woff') format('woff'),
        url('../fonts/subset-AkkuratStd-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'AkkuratStd';
    src: url('../fonts/subset-AkkuratStd-Bold.eot');
    src: url('../fonts/subset-AkkuratStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-AkkuratStd-Bold.woff2') format('woff2'),
        url('../fonts/subset-AkkuratStd-Bold.woff') format('woff'),
        url('../fonts/subset-AkkuratStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AkkuratStd';
    src: url('../fonts/subset-AkkuratStd-BoldItalic.eot');
    src: url('../fonts/subset-AkkuratStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-AkkuratStd-BoldItalic.woff2') format('woff2'),
        url('../fonts/subset-AkkuratStd-BoldItalic.woff') format('woff'),
        url('../fonts/subset-AkkuratStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Akkurat Light Pro';
    src: url('../fonts/subset-AkkuratLightPro-Regular.eot');
    src: url('../fonts/subset-AkkuratLightPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-AkkuratLightPro-Regular.woff2') format('woff2'),
        url('../fonts/subset-AkkuratLightPro-Regular.woff') format('woff'),
        url('../fonts/subset-AkkuratLightPro-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

