$base   = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

@font-face {
    font-family: 'Cormorant Bold';
    src: url('../fonts/Cormorant-Bold.eot');
    src: url('../fonts/Cormorant-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-Bold.woff2') format('woff2'),
        url('../fonts/Cormorant-Bold.woff') format('woff'),
        url('../fonts/Cormorant-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Cormorant Bold Italic';
    src: url('../fonts/Cormorant-BoldItalic.eot');
    src: url('../fonts/Cormorant-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-BoldItalic.woff2') format('woff2'),
        url('../fonts/Cormorant-BoldItalic.woff') format('woff'),
        url('../fonts/Cormorant-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant Italic';
    src: url('../fonts/Cormorant-Italic.eot');
    src: url('../fonts/Cormorant-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-Italic.woff2') format('woff2'),
        url('../fonts/Cormorant-Italic.woff') format('woff'),
        url('../fonts/Cormorant-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant Light';
    src: url('../fonts/Cormorant-Light.eot');
    src: url('../fonts/Cormorant-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-Light.woff2') format('woff2'),
        url('../fonts/Cormorant-Light.woff') format('woff'),
        url('../fonts/Cormorant-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Light Italic';
    src: url('../fonts/Cormorant-LightItalic.eot');
    src: url('../fonts/Cormorant-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-LightItalic.woff2') format('woff2'),
        url('../fonts/Cormorant-LightItalic.woff') format('woff'),
        url('../fonts/Cormorant-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant Medium';
    src: url('../fonts/Cormorant-Medium.eot');
    src: url('../fonts/Cormorant-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-Medium.woff2') format('woff2'),
        url('../fonts/Cormorant-Medium.woff') format('woff'),
        url('../fonts/Cormorant-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Medium Italic';
    src: url('../fonts/Cormorant-MediumItalic.eot');
    src: url('../fonts/Cormorant-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-MediumItalic.woff2') format('woff2'),
        url('../fonts/Cormorant-MediumItalic.woff') format('woff'),
        url('../fonts/Cormorant-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Regular';
    src: url('../fonts/Cormorant-Regular.eot');
    src: url('../fonts/Cormorant-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-Regular.woff2') format('woff2'),
        url('../fonts/Cormorant-Regular.woff') format('woff'),
        url('../fonts/Cormorant-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant SemiBold';
    src: url('../fonts/Cormorant-SemiBold.eot');
    src: url('../fonts/Cormorant-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-SemiBold.woff2') format('woff2'),
        url('../fonts/Cormorant-SemiBold.woff') format('woff'),
        url('../fonts/Cormorant-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant SemiBoldItalic';
    src: url('../fonts/Cormorant-SemiBoldItalic.eot');
    src: url('../fonts/Cormorant-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Cormorant-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Cormorant-SemiBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant Infant Light';
    src: url('../fonts/CormorantInfant-Light.eot');
    src: url('../fonts/CormorantInfant-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CormorantInfant-Light.woff2') format('woff2'),
        url('../fonts/CormorantInfant-Light.woff') format('woff'),
        url('../fonts/CormorantInfant-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Infant Medium';
    src: url('../fonts/CormorantInfant-Medium.eot');
    src: url('../fonts/CormorantInfant-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CormorantInfant-Medium.woff2') format('woff2'),
        url('../fonts/CormorantInfant-Medium.woff') format('woff'),
        url('../fonts/CormorantInfant-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Infant Regular';
    src: url('../fonts/CormorantInfant-Regular.eot');
    src: url('../fonts/CormorantInfant-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CormorantInfant-Regular.woff2') format('woff2'),
        url('../fonts/CormorantInfant-Regular.woff') format('woff'),
        url('../fonts/CormorantInfant-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd Black';
    src: url('../fonts/CircularStd-Black.eot');
    src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Black.woff2') format('woff2'),
        url('../fonts/CircularStd-Black.woff') format('woff'),
        url('../fonts/CircularStd-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd Bold';
    src: url('../fonts/CircularStd-Bold.eot');
    src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Bold.woff2') format('woff2'),
        url('../fonts/CircularStd-Bold.woff') format('woff'),
        url('../fonts/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd Book';
    src: url('../fonts/CircularStd-Book.eot');
    src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Book.woff2') format('woff2'),
        url('../fonts/CircularStd-Book.woff') format('woff'),
        url('../fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd Medium';
    src: url('../fonts/CircularStd-Medium.eot');
    src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Medium.woff2') format('woff2'),
        url('../fonts/CircularStd-Medium.woff') format('woff'),
        url('../fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}