// ----------
// Global elements
// ----------

html, body, #app, .app, .page
	height: 100%
	overflow hidden

a
	color: black
	position relative
	text-decoration: none

	&::before, &::after
		background: $w
		content: ''
		height 2px
		position: absolute
		top 100%
		width: 0%

	&::before
		left: 0

	&::after
		right 0
		transition: width 0.8s cubic-bezier(0.25,0.1,0.25,1)

	&:hover
		color: $blue

		&::before
			transition: width 0.5s cubic-bezier(0.25,0.1,0.25,1)
			width: 100%

		&::after
			background: $blue
			transition: 0s
			width: 100%

img, svg
	display: block
	height: auto
	max-width: 100%

h1, h2, h3, h4, h5, p
	font-weight normal
	mgn(1,0)
	max-width: $pwidth*1em

h1, h2, h3, h4
	font-family $cormorant

h1, h2, h3
	color $blue

h4
	color $b

h1
	fs(100)
	line-height 1
	letter-spacing -(1.21 / 100) * 1em
	margin-left -.08em

	+below($mobile)
		fs(mp(4))

h2
	fs(80)
	line-height: (100 / 80)

h3
	fs(44)

h4
	fs(mp(2))

h5
	fs(mp(1))

pre
	font-family: monospace
	fs(mp(0))

ul, ol
	mgn(1,0)
	pad(0,0,0,.5)

	li
		mgn(.5,0)

ul
	list-style: disc

ol
	list-style: decimal

form
	mgn(1,0)

.form-row
	mgn(.5,0)

button, input, label, select, textarea
	display: block
	font: inherit
	line-height: $let
	width: 100%

button, input, select, textarea
	appearance: none
	background: none
	// border: 1px solid $blue
	border-radius 0
	outline: 0

	&:focus
		border-color: $blk

button, [type=submit]
	cursor: pointer
	mgn(0, auto)
	pad(.25, 1)
	width: auto

// ----------
// clearfix
// ----------

.cf
	*zoom: 1

	&::before, &::after
		content: ' '
		display: block

	&::after
		clear: both
