// ----------
// Global elements
// ----------

html, body, #app, .app, .page
	height 100%
	overflow hidden

a
	color black
	position relative
	text-decoration none

	&::before, &::after
		background $blue
		content ''
		height 2px
		position absolute
		top 100%
		width 0%

	&::before
		left 0

	&::after
		right 0
		transition width 0.8s cubic-bezier(0.25,0.1,0.25,1)

	&:hover
		color $blue

		&::before
			transition width 0.5s cubic-bezier(0.25,0.1,0.25,1)
			width 100%

		&::after
			background 0
			transition 0s
			width 100%

	&.active
		&::before
			background $bluesat
			transition: width 0.5s cubic-bezier(0.25,0.1,0.25,1)

		&::after
			background $b
			transition-duration 0.6s
			width 100%

		&:hover
			&::before
				transition-duration 0.6s

			&::after
				background $b
				transition-duration 0.5s
				width 0


img, svg
	display block
	height auto
	max-width 100%

h1, h2, h3, h4, h5, p
	font-weight normal
	mgn(1,0)
	max-width $pwidth*1em

h1, h2, h3, h4
	font-family $cormorant

h1, h2, h3
	color $blue

h4
	color $b

h1
	fs(100)
	line-height 1
	letter-spacing -(1.21 / 100) * 1em
	margin-left -.08em

	+below($mobile)
		fs(60)

h2
	fs(80)
	line-height (100 / 80)

	+below($mobile)
		fs(60)

h3
	fs(44)

h4
	fs(mp(2))

h5
	fs(mp(1))

pre
	font-family monospace
	fs(mp(0))

ul, ol
	mgn(1,0)
	pad(0,0,0,.5)

	li
		mgn(.5,0)

ul
	list-style disc

ol
	list-style decimal

form
	mgn(1,0)

.form-row
	mgn(.5,0)

button, input, label, select, textarea
	display block
	font inherit
	line-height $let
	width 100%

button, input, select, textarea
	appearance none
	background none
	border-radius 0
	outline 0

	&:focus
		border-color $blk

button, [type=submit]
	cursor pointer
	mgn(0, auto)
	pad(.25, 1)
	width auto

.sup
	vertical-align: super;
	font-size: 0.8em;
	padding-right: 0.3em;

.nbsp
	white-space: nowrap;

// ----------
// clearfix
// ----------

.cf
	*zoom 1

	&::before, &::after
		content ' '
		display block

	&::after
		clear both
