// ----------
// Window/drawer
// ----------

.slice
	.wrap
		margin 0 auto
		max-width 1060px
		width (300 / 375) * 100%

		+above($mobile)//tablet
			width 70%
		+above($tablet)//notebook
			width 76%
		+above($notebook)//laptop
			width 78%
		+above($laptop)//laptop-large
			width 74%

		// +above($laptop-large)//desktop
		// 	width 66%
		// +above($desktop)//ultra
		// 	width 55%

.heading
	color $blue
	font-family $cormorant-light
	fs(46)
	font-weight 300
	letter-spacing -(0.7 / 46) * 1em
	line-height (56 / 46)
	margin-left -0.08em

.smol-copy
	fs(14)
	letter-spacing -(0.1 / 14) * 1em
	line-height (26 / 14)

abs()
	height: 100%
	left: 0
	position: absolute
	top: 0
	width: 100%
