// ----------
// Colours
// ----------

$b          = #000
$w          = #fff

$blk				= #101010

$bg					= #fcfcfc

$blue				= #00227d
$darkblue		= #000B2A
$copy				= #7f7f7f
$lightgrey	= #f8f8f8
$grey				= #e9e9e9
$bluesat		= #0165d8


// ----------
// Fonts
// ----------

$cormorant				= 'Cormorant Regular', sans-serif
$cormorant-semibold	= 'Cormorant SemiBold', sans-serif
$cormorant-bold		= 'Cormorant Bold', sans-serif
$cormorant-light	= 'Cormorant Light', sans-serif
$cormorant-medium = 'Cormorant Medium', sans-serif

$circular					= 'CircularStd Book', sans-serif
$circular-medium	= 'CircularStd Medium', sans-serif
$circular-bold		= 'CircularStd Bold', sans-serif
$circular-black		= 'CircularStd Black', sans-serif

font-smoothing()
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale


// ----------
// Mixins
// ----------

random(a,b)
	return math(math(0, 'random')*(b - a + 1) + a, 'floor')


// ----------
// Breakpoints
// ----------

$mobile     = 375px
$tablet     = 768px
$notebook   = 1024px
$laptop	    = 1366px
$laptop-large	= 1440px
$desktop    = 1600px
$ultra	    = 1920px

above($size)
	@media screen and (min-width: $size + 1)
		{block}

below($size)
	@media screen and (max-width: $size)
		{block}

@import '_ease'
@import '_type'
@import '_mixins'
