// ----------
// Colours
// ----------

$b          = #000
$w          = #fff

$blk				= #101010

$bg					= #fcfcfc

$blue				= #00227d
$darkblue				= #000B2A
$copy				= #7f7f7f

// ----------
// Fonts
// ----------

$cormorant				= 'Cormorant Regular', sans-serif
$cormorant-semibold	= 'Cormorant SemiBold', sans-serif
$cormorant-bold		= 'Cormorant Bold', sans-serif
$cormorant-light	= 'Cormorant Light', sans-serif

$circular					= 'CircularStd Book', sans-serif
$circular-medium	= 'CircularStd Medium', sans-serif
$circular-bold		= 'CircularStd Bold', sans-serif
$circular-black		= 'CircularStd Black', sans-serif

font-smoothing()
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale


// ----------
// Mixins
// ----------

random(a,b)
	return math(math(0, 'random')*(b - a + 1) + a, 'floor')


// ----------
// Breakpoints
// ----------

$mobile     = 600px
$tablet     = 800px
$notebook   = 1060px
$laptop	    = 1420px
$desktop    = 1600px
$ultra	    = 1920px

above($size)
	@media screen and (min-width: $size + 1)
		{block}

below($size)
	@media screen and (max-width: $size)
		{block}

@import '_ease'
@import '_type'
@import '_mixins'
