<!DOCTYPE html>
<% const cfg = htmlWebpackPlugin.options.config %>
<html lang="en">
<!--

          _                   _           _
        / /\                /\ \        / /\
       / /  \              /  \ \      / /  \
      / / /\ \            / /\ \ \    / / /\ \_
     / / /\ \ \          / / /\ \ \  / / /\ \__\
    / / /  \ \ \        / / /  \ \_\ \ \ \ \/__/
   / / /___/ /\ \      / / /   / / /  \ \ \
  / / /_____/ /\ \    / / /   / / /_   \ \ \
 / /_________/\ \ \  / / /___/ /  _/\__/ / /
/ / /_         \ \_\/ / /____\/ /\ \/___/ /
\_\___\         \____/_________/  \_____\/


        http://www.arrayofstars.com/

-->
<head>
<title><%=  htmlWebpackPlugin.options.title %></title>
<meta name="description" content="<%= cfg.description %>">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="charset" content="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel="shortcut icon" href="<%= cfg.publicPath %>favicon.ico">
<link rel="apple-touch-icon" href="<%= cfg.publicPath %>apple-touch-icon.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
</head>
<body>

<div id="app"></div>
<!-- Begin Constant Contact Active Forms -->
<script> var _ctct_m = "4670e4a2d046dda92e79c97b68f00ec1"; </script>
<script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
<!-- End Constant Contact Active Forms -->
</body>
</html>
